.pagination {
    padding-top: 15px;
    border-top: 1px solid #dedede;
    margin: 10px auto;
    display: flex;
    margin-left: 9px;
    justify-content: center;
    li {
        padding: 5px;
        margin: 0 2px;
        border-radius: 50%;
        a , span{
            line-height: 25px;
            display: block;
            text-align: center;
            width: 25px;
            height: 25px;
        }
        &.active {
            background: #1890ff;
            color: white;
        }
    }
}